* {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

#body-index {
    background-color: rgba(62, 52, 78, 0.962);
    color: white;
}

#body-index h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    text-indent: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
}

.recipe a {
    font-size: 18px;
    color: white;
}

.peri a:hover {
    color: orange;
}

.banh a:hover {
    color: rgb(255, 66, 66);
}

.pistachio a:hover {
    color: rgb(99, 168, 65);
}

#ul-index {
    text-align: center;
    list-style-type: none;
}

#pistachio {
    background-color: rgb(51, 94, 22);
    color: rgb(253, 247, 240);
}

#pistachio h1 {
    text-align: center;
        font-weight: 800;
        font-size: 36px;
        text-indent: 30px;
        letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
}

#pistachio img {
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
}

#pistachio h2 {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
}

#pistachio ol {
    list-style-position: inside;
    padding: 20px 0;
    text-align: center;
    line-height: 1.5;
}