* {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

#body-index {
    background-color: rgba(62, 52, 78, 0.962);
    color: white;
}

#body-index h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    text-indent: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
    margin-top: 500px;
}

.recipe a {
    font-size: 18px;
    color: white;
}

.peri a:hover {
    color: orange;
}

.banh a:hover {
    color: rgb(255, 66, 66);
}

.pistachio a:hover {
    color: rgb(99, 168, 65);
}

#ul-index {
    text-align: center;
    list-style-type: none;
}

#pistachio {
    background-color: rgb(51, 94, 22);
    color: rgb(253, 247, 240);
}

#pistachio h1 {
    text-align: center;
        font-weight: 800;
        font-size: 36px;
        text-indent: 30px;
        letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
}

#pistachio img {
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
}

#pistachio h2 {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
}

#pistachio ol {
    list-style-position: inside;
    padding: 10px 10px;
    line-height: 1.5;
}

.pistachio.num {
    font-size: 20px;
}

.pistachio.alpha {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 10px 0;
}


#periburger {
    background-color: rgb(111, 39, 0);
    color: rgb(253, 247, 240);
}

#periburger h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    text-indent: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
}

#periburger img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

#periburger h2 {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
}

#periburger ol {
    list-style-position: inside;
    padding: 10px 10px;
    line-height: 1.5;
}

.periburger.num {
    font-size: 20px;
}

.periburger.alpha {
    font-size: 16px;
        letter-spacing: 0.5px;
        text-align: left;
        padding: 10px 0;
}

#banhmi {
    background-color: rgb(111, 0, 0);
    color: rgb(253, 247, 240);
}

#banhmi h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    text-indent: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
}

#banhmi img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

#banhmi h2 {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.689);
}

#banhmi ol {
    list-style-position: inside;
    padding: 10px;
    line-height: 1.5;
}